@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins";
    color: azure;
}
body{
    background-color: #222222;
}

/* El scrollbar lo saque de internet para darle una mejor ux a la página*/

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}


a{
    color:inherit;
    text-decoration: none;
}

.grid-display{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.75fr 3fr .8fr;
    grid-template-rows: 15% auto 15%;
    grid-template-areas: 
    "nav nav nav"
    "categories main news"
    "footer footer footer";
}

.nav{
    grid-area: nav;
    background-color: #696969;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:space-between;
}

.nav a img{
    width: 12vh;
    margin: 10px;
}

.navBar{
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}

ul{
    list-style: none;
    font-size: 0;
	padding-inline-start: 0em;
}

ul li{
    display: inline-flex;;
    font-size: 24px;
    padding: 10px
}

.login{
    display: inline-flex;
}

#searchBar input{
    width: 250px;
}

.categories{
    grid-area: categories;
}

.categories h2{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

table{
	display: block;
	font-size: 18px;
}

td{
    width:100vh;
    padding-left: 5px;
    background-color: #757575;
}


table li{
    font-size: 18px;
    padding: 0%;
	text-align: left;
	float:left;
	clear:left;
    overflow: auto;
}

.genre{
    padding-inline-start: 15px;
}

.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.main h2{
    padding-bottom: 20px;
    padding-top: 20px;
}


.recommended{
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.recommended .product, .comming-soon .product{
    width: 160px;
    height: 120px;
    margin: 10px;
}

.recommended .product img, .comming-soon .product img{
    width: 160px;
    height: 88px;
}

.recent, .movies, .series, .airing, .comming-soon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product{
    width: 80px;
    height: 120px;
    margin: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product img{
    width: 80px;
    height: 88px;
}

.product h3{
    display: inline-block;
    text-align: center;
    font-size: 12px;
    margin: 0px;
    white-space: nowrap;
}

.filter{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 0% 2% 2% 2%;
}

.filter h3{
    font-size: 18px;
}

.filter-combo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15px;
    align-items: center;
}

.category-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.category-title h2{
    margin-left: 15px;
}

select{
    background-color: #696969;
    border: 6px solid transparent;
    margin-right: 15px;
    width: 150px;
}

button{
    background-color: #222222;
    border: 0px;
    width: 30px;
    height: 30px;
}

.search{
    width: 30px
}

#main-airing{
    grid-column-start: categories;
    grid-column-end: main;
    grid-row-start: categories;
    grid-row-end: categories;
}

.news{
    grid-area: news;
    display: flex;
    justify-content: center;
}

.news h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

#main-movies, #main-series{
    grid-column-start: main;
    grid-column-end: new;
    grid-row-start: main;
    grid-row-end: main;
}

footer{
    grid-area: footer;
    background-color: #696969;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.contact{
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
}

.contact h2, .social_media h2{
    font-size: 3.25vh;
    margin: 15px;
}

.email_whatsapp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.link{
    color: purple;
    text-decoration: underline;
}

.email, .whatsapp{
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}

.email img, .whatsapp img{
    width: 6vh;
    height: 6vh;
    margin-left: 10px;
    margin-right: 10px;
}

.social_media{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.social_media img{
    width: 6vh;
    height: 6vh;
    margin: 10px;
}

